body {
  background: #F5F5F5;
}

* {
	box-sizing: border-box;
}

h1,
#round-info {
	text-align: center;
}

.board {
  margin: 150px auto;
	height: 300px;
	width: 300px;
	font-size: 0;
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid grey;
}

.red {
	background-color: crimson;
}

.blue {
  background-color: cornflowerblue;
}
